{% load tz %}
{% timezone "US/Pacific" %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Partner Dash</title>
  
  <script type="text/javascript">
    var auto_options = {};
    var chip_options = {
      placeholder: 'Enter a partner',
      secondaryPlaceholder: '+Partner',
      autocompleteOptions: {
        data: {
          {% for partner in partners %}
          "{{ partner.name }}": "{{ partner.logo }}",
          {% endfor %}
        },
        limit: Infinity,
        minLength: 1
      },
      onChipDelete: function(e, chip){
        // Hacky way to grab text
        var tag = chip.textContent.slice(0, -"close".length);
        var card_id = e[0].id.slice('chips-card'.length)
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'detach_partner_to_card/' + tag+ '/' + card_id, true);
        xhr.onload = function () {
            console.log('Response code', xhr.status);
          };
        xhr.send(null);
      },
      onChipAdd: function(e, chip){
        
        var instance = M.Chips.getInstance(e[0]);
        // Same as chip_options.autocompleteOptions.data
        var partners = instance.options.autocompleteOptions.data
        // Hacky way to grab text
        var tag = chip.textContent.slice(0, -"close".length);
        var index = instance.chipsData.findIndex(function(chip) {
          return chip.tag == tag;
        });
        var card_id = e[0].id.slice('chips-card'.length)

        // If the entered text is a partner
        if (partners.hasOwnProperty(tag)){
          var xhr = new XMLHttpRequest();
          xhr.open('GET', 'attach_partner_to_card/' + tag+ '/' + card_id, true);
          xhr.onload = function () {
            console.log('Response code', xhr.status);
            if (xhr.status != 200){
              instance.deleteChip(index);
            }
          };
          xhr.send(null);

          // Add the image
          var image_url = partners[tag];
          var img = document.createElement("IMG");
          img.setAttribute("src", image_url);
          chip.appendChild(img);

        // If not a partner then delete the chip
        } else {
          instance.deleteChip(index);
        };
        
        // Fix the weird bug when you add a chip the autocomplete dropdown does not go away.
        instance.autocomplete.close();
      },
    };
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
  <script src="{% static 'app/scripts.js' %}"></script>
  
</head>
<body>
{% if not user.is_authenticated %}
  <a class="button" href="{% url 'slack:begin' 'slack' %}">Login</a>
{% else %}
<!-- Dropdown Structure -->
<ul id="dropdown_user" class="dropdown-content">
  <li><a href="#!">Settings</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper white">
    <ul class="hide-on-med-and-down">
      <li class="active"><a class="black-text" href="/">Team Activity</a></li>
      <li><a class="black-text" href="partners/">Partners</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a id="notification" class = "flex hide" href="/">
        <i class="material-icons grey-text ">notifications</i><span class="new badge blue" data-badge-caption="">!</span>
      </a></li>
      <!-- Dropdown Trigger -->
      <li><a class="waves-effect waves-light btn blue dropdown-trigger user_dropdown" href="#!" data-target="dropdown_user">
        <img src="{{ user.avatar512 }}"><i class="black-text material-icons right">arrow_drop_down</i>
      </a></li>
    </ul>
  </div>
</nav>
        

  <div class="flex flex_reverse main">
    {% if paginator.has_previous %}
      <a href="?page={{ paginator.previous_page_number }}">
        <i class="material-icons pagination" id="font">arrow_right</i>
      </a>
    {% endif %}
    {% for k,v in cards %}
      <div class="column">
        <h6 class="column_header">
          {{ k }}
        </h6>
      {% if forloop.first %}
      <div class="custom_card share flex">
        <img class="avatar" src="{{ user.avatar512 }}">
        <form class="form-input flex1" action="share/" method="post">
          {% csrf_token %}
          <div class="input-field">
            <textarea id="share" onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); event.target.value = ''; return false; }" name="data" class="materialize-textarea" data-length="1000"></textarea>
            <label for="share">Post an update</label>
          </div>
        </form>
      </div>
      {% endif %}

      {% for card in v %}

        {% if card.assigned %}
        <div class="custom_card">
          <div class="custom_card assigned">
            <img src="{{ card.assigned.avatar512 }}">
          </div>
        {% else %}
        <div class="custom_card">
        {% endif %}

          <div class="header">
            <div id="chips-card{{card.pk}}" class="chips chips-autocomplete flex1"></div>
            {% if card.assigned and card.assigned.username == user.username %}
            <a href="claim/{{ card.id }}"><i class="material-icons" id="font">indeterminate_check_box</i></a>
            {% else %}
            <a href="claim/{{ card.id }}"><i class="material-icons" id="font">check_box</i></a>
            {% endif %}
          </div>
          <hr>
          <div class="content_body">
            <div class="flex">
              <img class="avatar" src="{{ card.author.avatar512 }}">
              <div class="full_width">
                <div class="flex">
                  <div class="author flex1">{{ card.author.get_full_name }}</div>
                  <div class="time">{{ card.date|date:"m/d - P" }} - {{ card.created|date:"m/d - P" }}</div>
                </div>
                {{ card.body | linebreaks }}
              </div>
            </div>
          </div>
          {% for comment in card.comments.all %}
            <div class="comment content_body">
              <div class="flex">
                <img class="avatar" src="{{ comment.author.avatar512 }}">
                <div class="full_width">
                  <div class="flex">
                    <div class="author flex1">{{ comment.author.get_full_name }}</div>
                    <div class="time">{{ comment.created|date:"m/d - P" }}</div>
                  </div>
                  {{ comment.body | linebreaks }}
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="reply">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form class="form-input" action="reply/{{ card.id }}" method="post">
              {% csrf_token %}
              <div class="input-field">
                <input id="reply{{card.pk}}" name="data" type="text" class="validate">
                <label for="reply{{card.pk}}">Reply</label>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    {% if paginator.has_next %}
      <a href="?page={{ paginator.next_page_number }}">
        <i class="material-icons pagination" id="font">arrow_left</i>
      </a>
    {% endif %}
  </div>
{% endif %}
</body>
{% for k,v in cards %}
{% for card in v %}
<script type="text/javascript">
  elem = document.getElementById("chips-card{{card.pk}}");
  var options =({
    data:[
      {% for partner in card.related_partners.all %}
      {
        tag: "{{ partner.name }}",
        image: "{{ partner.logo }}"
      },
      {% endfor %}
    ],
  });
  var instance = M.Chips.init(elem, Object.assign(chip_options, options));
</script>
{% endfor %}
{% endfor %}
</html>

{% endtimezone %}