* {
    transition: all 0.125s ease-in-out;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    margin: 0;
    background-color: #ECECEC;
    cursor: default;
    user-select: none;
}

/* --- Fix CSS for input to fit custom cards */
input[type="text"], .input-field{
    height: auto!important;
    margin-bottom: 0!important;
    border-radius: 5px!important;
}

input[type="text"] {
    padding-bottom: 2px!important;
    text-indent: 5px!important;
}

.input-field > label{
    top: -15px!important;
    left: 5px!important;
}

.input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-1px) scale(0.8)!important;
    transform: translateY(-1px) scale(0.8)!important;
}

textarea.materialize-textarea{
    margin: 0!important;
}
/* -------------------- */

.custom_card{
    background-color: #FAFAFA;
    color: #555;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 2px;
    margin-top: 5px;
    border-radius:5px;
    position: relative;
}

.custom_card.assigned{
  background-color:rgba(0,0,0,.2);
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all .4s ease-in;
  z-index: 3;
}

.custom_card.assigned img{
    float: right;
    height: 64px;
    width: 64px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 1px 3px green;
}

.custom_card:hover .custom_card.assigned{
  opacity:0;
  visibility: hidden;
}


hr {
    border: none;
    height: 1px;
    background-color: #E1E1E1;
    margin-top: 1px;
    margin-bottom: 1px;
}

.header > i {
    transition: color 0.25s ease-in-out;
    cursor: pointer;
    font-size: 28px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin: 0 2px;
}

.header > i:hover {
    color: #222;
    background-color: #008CBA;
}
/* --------------------- */

.chip {
  display: flex;
  background: lightblue;
  padding: 0 7px;
  border-radius: 32px;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  margin-right: 6px;
}

.chip > img {
  float: left;
  background: white;
  width: 28px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 3px 0 -12px;
  border: 1px solid lightblue;
}

/* ------------------ */

.button {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #FAFAFA; 
    color: black; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.column {
    flex: 1;
    padding: 8px;
}

.column_header {
    margin: 0px -3px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2px 8px;
    border-radius: 1px;
    background-color: #FDFDFD;
}

.row {
    display: flex;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        display: block;
        width: 100%;
    }
}


.header {
    display: flex;
    padding: 0 8px;
}

.flex1 {
    flex: 1;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.avatar {
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius:5px;
    margin: 0 10px;
}

.share .avatar {
    margin-top: 15px;
}

.author {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1px;
    color: #333;
}

.time {
    font-size: small;
    color: #777;
}

.content_body {
    padding: 10px 2px;
}

.comment {
    background: #F2F2F2;
    border-bottom: 1px solid #AAA;
}

.full_width {
    width: 100%;
}

.comment .avatar {
    border-radius: 50%;
}

.main {
    margin: 10px;
    margin-top: 15px;
}

.pagination{
    color: black;
    font-size: 38px !important;
    margin: 0 -10px;
}

nav{
    height: 48px!important;
    line-height: 48px!important;
}

nav ul li {
    height: 48px;
}

nav a.btn{
    margin: 0 5px!important;
    margin-bottom: 3px!important;
    padding: 0!important;
}

.user_dropdown{
    height: inherit;
    padding-right: 0px;
}
.user_dropdown i{
    margin: 0!important;
    height: inherit!important;
    line-height: inherit!important;
}
.user_dropdown img{
    height: inherit;
}