* {
    transition: all 0.125s ease-in-out;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    margin: 0;
    background-color: #ECECEC;
    cursor: default;
    user-select: none;
}

/* --- Fix CSS for input to fit custom cards */
.reply input[type="text"], 
.reply .input-field{
    height: auto!important;
    margin-bottom: 0!important;
    border-radius: 5px!important;
}

.reply input[type="text"] {
    padding-bottom: 2px!important;
    text-indent: 5px!important;
}

.reply .input-field > label{
    top: -15px!important;
    left: 5px!important;
}

.reply .input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-1px) scale(0.8)!important;
    transform: translateY(-1px) scale(0.8)!important;
}

.share .input-field{
    padding-right: 10px;
}

.share textarea.materialize-textarea{
    margin: 0!important;
}

.custom_card .chips{
    margin: 0;
    min-height: unset;
}

.custom_card .chips input{
    height: auto;
}

.custom_card .chips input::placeholder,
.custom_card .chips input::-moz-placeholder{
    color: gray;
}
/* -------------------- */

/* FIX autocomplete content rendering for dropdown */
.custom_card .autocomplete-content{
    width: unset;
    height: unset;
}
.custom_card .autocomplete-content > li{
    display: flex;
}

.custom_card .autocomplete-content > li > img{
    margin: 5px 3px;
    border: 1px solid lightgray;
}

.custom_card .autocomplete-content > li > span{
    padding: 14px 5px;
}
/* -------------------- */

.custom_card{
    background-color: #FAFAFA;
    color: #555;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 2px;
    margin-top: 5px;
    border-radius:5px;
    position: relative;
}

.custom_card.assigned{
  background-color:rgba(0,0,0,.2);
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all .4s ease-in;
  z-index: 3;
}

.custom_card.assigned img{
    float: right;
    height: 64px;
    width: 64px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 1px 3px green;
}

.custom_card:hover .custom_card.assigned{
  opacity:0;
  visibility: hidden;
}

.custom_card p{
    margin: 0;
}


hr {
    border: none;
    height: 1px;
    background-color: #E1E1E1;
    margin-top: 1px;
    margin-bottom: 1px;
}

.header > i {
    transition: color 0.25s ease-in-out;
    cursor: pointer;
    font-size: 28px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin: 0 2px;
}

.header > i:hover {
    color: #222;
    background-color: #008CBA;
}

.chip > img {
  border: 1px solid lightblue;
}

.chip {
    background-color: lightblue;
}

.column {
    flex: 1;
    padding: 8px;
}

.column_header {
    margin: 0px -3px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2px 8px;
    border-radius: 1px;
    background-color: #FDFDFD;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        display: block;
        width: 100%;
    }
}

.header {
    display: flex;
    padding: 0 8px;
}

.flex1 {
    flex: 1;
}

.flex_reverse{
    flex-direction: row-reverse;
}

.flex {
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.avatar {
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius:5px;
    margin: 0 10px;
}

.share .avatar {
    margin-top: 15px;
}

.author {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1px;
    color: #333;
}

.time {
    font-size: small;
    color: #777;
}

.multiline {
    white-space: pre-wrap;
}

.content_body {
    padding: 10px 2px;
}

.comment {
    background: #F2F2F2;
    border-bottom: 1px solid #AAA;
}

.full_width {
    width: 100%;
}

.comment .avatar {
    border-radius: 50%;
}

.main {
    margin: 10px;
    margin-top: 15px;
}

.pagination{
    color: black;
    font-size: 38px !important;
    margin: 0 -10px;
}

nav{
    height: 48px!important;
    line-height: 48px!important;
}

nav ul li {
    height: 48px;
}

nav a.btn{
    margin: 0 5px!important;
    margin-bottom: 3px!important;
    padding: 0!important;
}

.user_dropdown{
    height: inherit;
    padding-right: 0px;
}
.user_dropdown i{
    margin: 0!important;
    height: inherit!important;
    line-height: inherit!important;
}
.user_dropdown img{
    height: inherit;
}

.partner_card{
   padding: 5px 10px 
}

.partner_search{
    width: 90%;
    left: 5%;
}

.partner_badge{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid gray;
    margin: 0 2px;
}

.tab_content{
    padding: 10px 5px;
}

.partner_form{
    padding: 10px 20px;
}

/* We want the logo on the left */
.autocomplete-content img.right{
    float: left!important;
}